
@{
    ViewBag.Title = "Index";
}


<div ng-controller="mapController as map" ng-init="map.initialize()">
<h2>My Map</h2>
<div id="map" class="map"></div>
</div>
<script src="~/wwwroot/courseApp.js"></script>